<div class="content" data-controller="filter">
  <div class="title">
    <h1>Recipes You Can Make</h1>
  </div>
  <div class="subtitle">
    <h3>Filter for Dietary Requirements</h3>
  </div>
  <div class="buttons-container">
    <button class="round-button" data-action="click->filter#filter" data-filter-target="button" data-filter="VE">VE</button>
    <button class="round-button" data-action="click->filter#filter" data-filter-target="button" data-filter="VG">VG</button>
    <button class="round-button" data-action="click->filter#filter" data-filter-target="button" data-filter="GF">GF</button>
    <button class="round-button" data-action="click->filter#filter" data-filter-target="button" data-filter="DF">DF</button>
    <button class="round-button" data-action="click->filter#filter" data-filter-target="button" data-filter="all">All</button>
  </div>

 <div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card-2" data-requirements="<%= recipe.dietary_requirements %>" data-filter-target="recipe">
      <div class="recipe-image">
        <%= link_to recipe_path(recipe) do %>
          <% if recipe.photo.attached? %>
            <%= cl_image_tag(recipe.photo.key, class: "recipe-image") %>
          <% else %>
            <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
          <% end %>
        <% end %>
      </div>
      <div class="recipe-details">
        <h3><%= recipe.name %></h3>
        <p>
          <span class="star-rating">
            <% (1..5).each do |i| %>
              <% if i <= recipe.average_rating.ceil %>
                <span class="bi bi-star-fill star-filled"></span>
              <% else %>
                <span class="bi bi-star"></span>
              <% end %>
            <% end %>
          </span>
        </p>
        <% if recipe.cooking_time.present? %>
          <p>
            <i class="fas fa-clock"></i> <%= recipe.cooking_time %> minutes
          </p>
        <% end %>
        <p class="dietary-requirements">
          Dietary Requirements: <%= recipe.dietary_requirements %>
        </p>
      </div>
    </div>
  <% end %>
</div>
