<div class="recipe-card">
 <% if @recipe.photo.attached? %>
          <div class="recipe-image">
            <%= cl_image_tag(@recipe.photo.key, class: "recipe-images") %>
          </div>
        <% else %>
          <div class="recipe-image">
            <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
          </div>
        <% end %>
  <div class="recipe-details">
    <h1><%= @recipe.name %></h1>
    <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
    <p>Servings: <%= @recipe.servings %></p>
    <p>Difficulty: <%= @recipe.difficulty %></p>
    <p>Ratings: <%= @recipe.ratings %></p>
    <%= link_to "Back to All Recipes", recipes_path, class: "btn btn-secondary" %>
  </div>

</div>


<div class="nutrition-table">
  <table>
    <tbody>
      <tr class="category-row">
        <td>
          <div class="category-box">
            <div class="category-name">Calories</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <td>
          <div class="category-box">
            <div class="category-name">Fat</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <td>
          <div class="category-box">
            <div class="category-name">Protein</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <td>
          <div class="category-box">
            <div class="category-name">Carbs</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <td>
          <div class="category-box">
            <div class="category-name">Fibre</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <td>
          <div class="category-box">
            <div class="category-name">Sugar</div>
            <div class="category-amount"></div>
          </div>
        </td>
        <!-- Add more category cells as needed -->
      </tr>
    </tbody>
  </table>
</div>

<div class="ingredient-card">
  <div class="left-column">
    <h2>Ingredients</h2>
    <ul>
    <% @recipe.method.split(',').each do |ingredient| %>
        <li><%= ingredient.strip %></li>
        <hr class="ingredient-divider">
        <% end %>
    </ul>


    </ul>
  </div>
  <div class="right-column">
    <h2>Method</h2>
    <ol>

    </ol>
  </div>
</div>

<div class="actions">
    <%= link_to "Add New Review", new_recipe_review_path(@recipe), class: "btn btn-primary" %>
</div>
<div class="rating-card">
  <h1>Rate this Recipe</h1>
  <br />
  <span onclick="gfg(1)" class="star">★</span>
  <span onclick="gfg(2)" class="star">★</span>
  <span onclick="gfg(3)" class="star">★</span>
  <span onclick="gfg(4)" class="star">★</span>
  <span onclick="gfg(5)" class="star">★</span>
</div>

<script src="review.js"></script>

<div class="reviews">
    <p><strong>All Reviews</strong></p>
    <ul class="list-group">
      <% @recipe.reviews.each do |review| %>
        <li class="list-group-item"><%= review.comment %></li>
      <% end %>
    </ul>
</div>
<br>

<div data-controller="heart">
    <div data-heart-target="recipeId" data-recipe-id="<%= @recipe.id %>" hidden></div>
    <div data-heart-target="favouriteId" data-favourite-id="<%= @favourite ? @favourite.id : "" %>">
    <%= @recipe.favourites.where(user: current_user).count %>
    <% if @favourite %>
    <i class="fa-solid fa-heart text-success" id="heartIcon"  data-heart-target="item" data-action="click->heart#send"></i>
  <% else  %>
     <i class="fa-solid fa-heart text-success" style="font-weight: 100;" id="heartIcon"  data-heart-target="item" data-action="click->heart#send"></i>
  <% end %>
</div>

<div class="recommended-recipes">
    <h3>Recommended Recipes</h3>
    <div class="recipes">
      <% @recommended_recipes.each do |recommended_recipe| %>
        <div class="recipe">
          <h4><%= link_to recommended_recipe.name, recipe_path(recommended_recipe) %></h4>
          <p>Dietary Requirements: <%= recommended_recipe.dietary_requirements %></p>
          <% if recommended_recipe.photo.attached? %>
            <div class="recipe-image">
              <%= link_to recipe_path(recommended_recipe) do %>
                <%= cl_image_tag(recommended_recipe.photo.key, class: "recipe_images") %>
              <% end %>
            </div>
          <% else %>
            <div class="recipe-image">
              <%= link_to recipe_path(recommended_recipe) do %>
                <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
