<div class="recipe-card">
  <div class="recipe-card-image">
    <%#= link_to "All Recipes", recipes_path, class: "btn btn-secondary" %> <%#= change 1  %>
    <% if @recipe.photo.attached? %>
      <div class="recipe-image">
        <%= cl_image_tag(@recipe.photo.key, class: "recipe-images") %>
      </div>
    <% else %>
      <div class="recipe-image">
        <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
      </div>
    <% end %>
  </div>

  <div class="details-nutrition">
    <div class="recipe-details">
      <div class="name-and-heart">
        <h1><%= @recipe.name %></h1>
          <div data-controller="heart" class="heart-like-icon">
            <div data-heart-target="recipeId" data-recipe-id="<%= @recipe.id %>" hidden></div>
            <div data-heart-target="favouriteId" data-favourite-id="<%= @favourite ? @favourite.id : "" %>">
              <%#= @recipe.favourites.where(user: current_user).count %>
              <% if @favourite %>
                <i class="fa-solid fa-heart text-success" id="heartIcon"  data-heart-target="item" data-action="click->heart#send"></i>
              <% else  %>
              <i class="fa-solid fa-heart text-success" style="font-weight: 100;" id="heartIcon"  data-heart-target="item" data-action="click->heart#send"></i>
              <% end %>
            </div>
          </div>
        </div>
      <p>🕰️: <%= @recipe.cooking_time %> minutes</p>
      <p>Servings: <%= @recipe.servings %></p>
      <p>Difficulty: <%= @recipe.difficulty %></p>
      <p>Ratings: <span class="star-rating">
          <% (1..5).each do |i| %>
            <% if i <= @recipe.average_rating %>
              <span class="bi bi-star-fill star-filled"></span>
            <% else %>
              <span class="bi bi-star"></span>
            <% end %>
          <% end %>
        </span>
      </p>
      <p>Wine Pairings: <%= @recipe.paired_wines %></p>
      <p><%= @recipe.pairing_text %></p>
    </div>

    <div class="nutrition-table">
      <table>
        <tbody>
          <tr class="category-row">
            <td>
              <div class="category-box">
                <div class="category-name">Calories</div>
                <div class="category-amount"><%= @recipe.calories %>kcal</div>
              </div>
            </td>
            <td>
              <div class="category-box">
                <div class="category-name">Fat</div>
                <div class="category-amount"><%= @recipe.fat  %>g</div>
              </div>
            </td>
            <td>
              <div class="category-box">
                <div class="category-name">Protein</div>
                <div class="category-amount"><%= @recipe.protein %>g</div>
              </div>
            </td>
            <td>
              <div class="category-box">
                <div class="category-name">Carbs</div>
                <div class="category-amount"></div>
              </div>
            </td>
            <td>
              <div class="category-box">
                <div class="category-name">Fibre</div>
                <div class="category-amount"></div>
              </div>
            </td>
            <td>
              <div class="category-box">
                <div class="category-name">Sugar</div>
                <div class="category-amount"></div>
              </div>
            </td>
            <!-- Add more category cells as needed -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



<div class="ingredient-card">
  <div class="left-column">
    <h2>Ingredients</h2>
    <ul>
    <% @recipe.ingredients.split(',').each do |ingredient| %>
        <li><%= ingredient.strip %></li>
        <hr class="ingredient-divider">
        <% end %>
    </ul>


    </ul>
  </div>
  <div class="right-column">
    <h2>Method</h2>
    <ol>
     <% @recipe.method.split(/\d+\./).reject(&:blank?).each_with_index do |method,index| %>
    <li><%= index + 1 %>- <%= method.strip %></li>
     <hr class=method-divider>
     <% end %>
    </ol>
  </div>
</div>


<div class="reviews">

  <div class="actions">
    <p><strong>All Reviews</strong></p>
    <%= link_to "Add New Review", new_recipe_review_path(@recipe), class: "btn btn-primary" %>
  </div>

  <ul class="list-group">
    <% @recipe.reviews.each do |review| %>
      <li class="list-group-item">
        <%= review.comment %>
        <% if review.image.attached? %>
          <%= image_tag review.image, class: "review-image" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>






<div class="recommended-recipes">
  <h3>Recommended Recipes</h3>

  <div class="recommeded-recipes-container">



    <% @recommended_recipes.each do |recipe| %>
      <div class="recipe-card-2" data-requirements="<%= recipe.dietary_requirements %>" data-filter-target="recipe">
        <div class="recipe-image">
          <%= link_to recipe_path(recipe) do %>
            <% if recipe.photo.attached? %>
              <%= cl_image_tag(recipe.photo.key, class: "recipe-image") %>
            <% else %>
              <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
            <% end %>
          <% end %>
        </div>
        <div class="recipe-details">
          <h3><%= recipe.name %></h3>
          <p>
            <span class="star-rating">
              <% (1..5).each do |i| %>
                <% if i <= recipe.average_rating.ceil %>
                  <span class="bi bi-star-fill star-filled"></span>
                <% else %>
                  <span class="bi bi-star"></span>
                <% end %>
              <% end %>
            </span>
          </p>
          <% if recipe.cooking_time.present? %>
            <p>
              <i class="fas fa-clock"></i> <%= recipe.cooking_time %> minutes
            </p>
          <% end %>
          <p class="dietary-requirements">
            Dietary Requirements: <%= recipe.dietary_requirements %>
          </p>

        </div>
      </div>
    <% end %>
  </div>
</div>
