<div class="recipe">
    <h2><%= @recipe.name %></h2>
    <p><%= @recipe.description %></p>
    <p><%= @recipe.ratings %></p>
    <%= link_to "Back to recipes", recipes_path %>
</div>

<%= link_to "Add New Review", new_recipe_review_path(@recipe), class: "btn btn-primary" %>

<p><strong>All Reviews</strong></p>
<ul class="list-group">
  <% @recipe.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>
<br>
