<div class="banner">
  <h1>Social Munch</h1>
</div>

<div class="search-bar">
  <div class=h2> Enter Your Ingredients<br> and See the Magic</div>

  <div class=h6> What do you have in your kitchen?</h6></div>

  <div class="search-container">

  <div class="search-box">
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :ingredients, nil, placeholder: "Type your ingredients" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>

    <div class="search-box">
      <input type="text" placeholder="Type your ingredients">
    </div>
    <button class="search-button">Find Recipes</div>

  </div>
</div>



  <div class="popular">
    <h2>Popular Recipes of the Week</h2>

    <div class="recipe-container">

      <div class="popular-recipe">
        <img src="https://media.istockphoto.com/id/1221237754/photo/two-halves-of-club-sandwich-on-white.jpg?s=612x612&w=0&k=20&c=jTThChWPJoFPxOdW1F4I-UzDqzS97iIgTm4-JJe-gOQ=" />
        <div class="popular-recipe-info">
          <div>
            <h2>Grilled Cheese Sandwich</h2>
            <p>Short description here!</p>
          </div>
        <%= link_to "View Recipe", recipe_path(@recipe), class: "recipe-button" %>
        </div>
      </div>

      <div class="popular-recipe">
        <img src="https://media.istockphoto.com/id/1221237754/photo/two-halves-of-club-sandwich-on-white.jpg?s=612x612&w=0&k=20&c=jTThChWPJoFPxOdW1F4I-UzDqzS97iIgTm4-JJe-gOQ=" />
        <div class="popular-recipe-info">
          <div>
            <h2>Grilled Cheese Sandwich</h2>
            <p>Short description here!</p>
          </div>
        <%= link_to "View Recipe", recipe_path(@recipe), class: "recipe-button" %>
        </div>
      </div>

      <div class="popular-recipe">
        <img src="https://media.istockphoto.com/id/1221237754/photo/two-halves-of-club-sandwich-on-white.jpg?s=612x612&w=0&k=20&c=jTThChWPJoFPxOdW1F4I-UzDqzS97iIgTm4-JJe-gOQ=" />
        <div class="popular-recipe-info">
          <div>
            <h2>Grilled Cheese Sandwich</h2>
            <p>Short description here!</p>
          </div>
        <%= link_to "View Recipe", recipe_path(@recipe), class: "recipe-button" %>
        </div>
      </div>

    </div>
  </div>




<div class="feeling-confident">
  <h2>Feeling Confident?</h2>

<div class="random-recipe">
  <button class="random-button">Click here for a random recipe</button>
</div>
</div>

<div class="recipe-magic">

  <h2>Recipe Magic</h2>
  <div class="step-1">
  <h4>How it works</h4>
  <h6>Enter your desired ingredients, recipes ideas, or dietary preferences and we will find the perfect<br>
      recipes for you. Join us in transforming the way we plan and prepare meals.</h6>
  </div>

  <div class="w-100 d-flex justify-content-end">
    <div class="step-2">
      <h4>Reduce Waste - Save Money</h4>
      <h6>The average household wastes £150/month in wasted food. We help you save money by creating intelligient<br>
      and delicious ways to use up leftover ingredients.</h6>
    </div>
  </div>
  <div class="step-3">
    <h4>Creative Meal Planning in a Snap</h4>
    <h6>Meal planning is a breeze with us. Say goodbye to hours spent browsing cookbooks<br>
    or searching recipes blogs for ideas.</h6>
  </div>


</div>


<div class="footer">
  <h2>Sign up for our newsletter</h2>

  <div class="search-container-2">
    <div class="newsletter-box">
      <input type="text" palceholder="Subscribe to our newsletter">
    </div>

    <button class="subscribe-button">Subscribe</button>
</div>
