




<div class="search-bar" data-controller="typedjs">
    <div class="h2" >
      Search. Cook. Interact.
    </div>


  <div class="search-container">
  <div class="search-box">
    <%= form_tag(recipes_path, method: :get, class: 'search-form') do %>
      <%= text_field_tag :ingredients, nil, data: { typedjs_target: "input" }, placeholder: "Enter Your Ingredients & See The Magic...", class: 'search-input' %>
      <%= button_tag type: 'submit', class: 'search-button' do %>
        <i class="fa fa-search"></i>
      <% end %>
    <% end %>
  </div>
</div>



</div>



<div class="popular-recipe-batch">
  <h2>Popular Recipes of the Week</h2>

  <div class="w-100 d-flex justify-content-center">
    <% @popular_recipes.each do |popular_recipe| %>
      <div class="popular-recipe d-flex flex-column align-items-center">
        <% if popular_recipe.photo.attached? %>
          <div class="home-image text-center">
            <%= link_to recipe_path(popular_recipe) do %>
              <%= cl_image_tag(popular_recipe.photo.key, class: "home-image") %>
            <% end %>
          </div>
        <% else %>
          <div class="recipe-image text-center">
            <%= link_to recipe_path(popular_recipe) do %>
              <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
            <% end %>
          </div>
        <% end %>
        <div class="popular-recipe-info">
          <div>
            <h2><%= link_to popular_recipe.name, recipe_path(popular_recipe), class: "recipe-name" %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="feeling-confident">
  <h2>Try Something Different</h2>

  <div class="random-recipe">
    <button class="random-button">Random Recipe</button>
  </div>
</div>

<div class="recipe-magic">

  <h2>Recipe Magic</h2>
  <div class="step-1">
    <h4>How it works</h4>
    <h6>Enter your desired ingredients, and we will find you some amazing recipes for you.<br>
        Using AI we will take the list of ingredients and generate a method, perfectly fitting the recipe</h6>
  </div>

  <div class="w-100 d-flex justify-content-end">
    <div class="step-2">
      <h4>Reduce Waste - Save Money</h4>
      <h6>The average household wastes £150/month in wasted food. We help you save money by creating intelligient.<br>
      and delicious ways to use up leftover ingredients.</h6>
    </div>
  </div>
  <div class="step-3">
    <h4>Cook and Interact</h4>
    <h6>We aim to make cooking a more social experience. Join our GrubHub to connect with others,<br>
    whether you're discussing one of our recipes or sharing thoughts on a new wine you've tried!</h6>
  </div>

</div>


<div class="footer">
  <h2>Sign up to our newsletter</h2>


    <div class="search-container-2">
      <div class="sear-box-2">
        <input type="text" palceholder="type your email">
      </div>
    <button class="search-button-2">Subscribe</button>
  </div>

  <p>&copy; 2024 Social Munch. All rights reserved.</p>
</div>
