<h3>Add a review for <%= @recipe.name %></h3>
<%= simple_form_for [@recipe, @review] do |f| %>
  <div class="form-group">
    <%= f.input :rating, input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
  </div>
  <div class="form-group">
    <%= f.input :comment, input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit review", class: "btn btn-success" %>
  </div>
<% end %>
