<div class="pink-background">
<div class="review-form">
  <h3>Add a review for <%= @recipe.name %></h3>
  <%= simple_form_for [@recipe, @review], html: { class: "review-form" } do |f| %>
    <div class="form-group">
      <%# <%= f.label :rating, "Rate this recipe" %>
      <%= f.input :rating, collection: (1..5).to_a, input_html: { data: { controller: "star-rating" }, class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :comment, "Your review" %>
      <%= f.text_area :comment, rows: 4, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, "Upload an image" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
